[submodule "u-boot"]
	path = u-boot
	url = https://github.com/starfive-tech/u-boot.git
[submodule "linux"]
	path = linux
	url = https://github.com/starfive-tech/linux.git
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/starfive-tech/opensbi.git
