[submodule "u-boot"]
	path = u-boot
	url = git@github.com:starfive-tech/u-boot.git
	branch = Fedora_JH7100_upstream_devel
[submodule "linux"]
	path = linux
	url = git@github.com:starfive-tech/linux.git
	branch = starlight
[submodule "opensbi"]
	path = opensbi
	url = git@github.com:starfive-tech/opensbi.git
	branch = master
